
@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/sass/utilities/functions";

// Body
$body-background-color: $white-ter;
$primary: #2F5A64;

// Typography
$family-serif: "Montserrat", sans-serif;
$family-primary: $family-serif;

$font-size-base: 0.9rem;
$line-height-base: 1.6;
