@import 'slide/card';

.side-menu{
    position: fixed;
    height: 100vh;
    width: 250px;
    top: 3.5rem;
    background-color: white;
    overflow-y: scroll;
}

.management-area{
    position: absolute;
    top: 3.5rem;
    left: 250px;
    right: 0;
}

.flex-container{
    margin: 25px;
}

.submenu{
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.menu-list li{
    margin-bottom: 1px;
}

.menu-list li ul{
    margin-top: 0;
    margin-bottom: 0;
}

.menu-list a.is-active{
    background-color: $primary;
    color: white;
}

.publish-widget{
    .title,.subtitle{
        margin: 10px;
        padding: 5px;
        display: block;
    }
    .subtitle{
        font-size: 0.55rem;
    }
    .area{
        border-bottom: 1px solid whitesmoke;
        margin: 10px 0;
        padding: 2px 0;
    }
    .author{        
        img{
            max-width: 3rem;
            background-color: $primary;
            border-radius: 50%;
        }
    }
    .status{
        .icon{
            padding: 15px
        }
        
    }
}