.clearfix{
    clear: both;
}


.slide{
    height: 550px;
    overflow: hidden;
    pointer-events: all !important;
    &-background{
        width: 110%;
        height: 102%;
        left: -60px !important;
        top: -25px !important;

    }

    &-item{
        bottom: 0 !important;
        top: auto !important;

    }

    &-header{
        max-width: 550px;
        top: 100px !important;
        left: auto !important;
        right: 50px !important;
        
    }
}

.slide-header{
    .is-size-1{
        font-size: 4.5rem !important;
        line-height: 4.1rem;
        letter-spacing: -0.4rem;
    }

    .is-size-2{
        line-height: 2.2rem;
        letter-spacing: -0.2rem;
    }
}


.user-widget{
    padding-top: 0;
    border: none;
    min-width: 300px;

    .dropdown-item{
        padding: 0;
    }

    .hero-body{
        padding:  15px;
    }

    .user-avatar{
        max-height: 3.5rem;
        max-width: 3.5rem;
        object-fit: cover;
        border-radius: 50%;
        background-color: $primary;
        border: 2px solid white;
        
    }
}